# Client
NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_OSM_API_URL=https://nominatim.openstreetmap.org

# Server
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=